*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
/.qmake.cache
/.qmake.stash
**/.qmlls.ini

*.pro.user*
*.qbs.user*
CMakeLists.txt.user*

*.flc

.*.swp

*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*

*.Debug
*.Release

*.pyc

*.dll
*.exe

.moc/
.obj/
.pch/
.rcc/
.uic/
/build*/
/.qtcreator/

*.ko
*.ko.cmd
*.mod
*.mod.c
*.mod.o
.*.cmd
*.symvers
modules.order
.tmp_versions/
build.log
